<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dockerwebapp20171010123659.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>af107dfb-9c56-454f-a172-d821b16e8748</ProjectGuid>
    <MSDeployServiceURL>dockerwebapp20171010123659.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DockerWebApp20171010123659</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DockerWebApp20171010123659</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ResourceId>/subscriptions/3fd612fd-5d90-487d-879a-38410fcc7151/resourcegroups/cd-docker/providers/Microsoft.Web/sites/DockerWebApp20171010123659</ResourceId>
    <ContainerResourceId>/subscriptions/3fd612fd-5d90-487d-879a-38410fcc7151/resourcegroups/cd-docker/providers/Microsoft.ContainerRegistry/registries/registry20171010123705</ContainerResourceId>
    <ContainerResourceName>registry20171010123705</ContainerResourceName>
    <ResourceGroup>cd-docker</ResourceGroup>
    <Subscription>NWC-Colin (zzDev17)</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20171010123705.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>