@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h4>Really Really New!!</h4>
<p>This is a new page that shouldn't be in PROD!</p>

<p>Use this area to provide additional information.</p>
